<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragment.html :: head('Login Page')">
</head>
<body>

<form th:action="@{/auth/login}" method="post">
    <div>
        <label for="username">User name</label>
        <input type="text" name="username" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
    </div>
    <div>
        <input type="submit" value="Login">
        <a th:href="@{/auth/register}">
            <button type="button">Register</button>
        </a>
    </div>
</form>

</body>
</html>